<div class="container">
<a [routerLink]="['/movies']" class="btn btn-outline-danger">Back</a>
<h1 class="animated fadeIn">{{movie.Title | uppercase }} <small>({{movie.Year | date:'y'}})</small> </h1>
<hr>

<div class="row animated fadeIn fast">

  <div class="col-md-4">
      <img [src]="(movie?.Poster && movie.Poster != 'N/A') ? movie.Poster : '../assets/img/No_Image_Available.jpg'" class="img-fluid" [alt]="movie.Title">

  </div>

  <div class="col-md-8">
    <h3>{{movie.Title}}</h3>
    <hr>
    <p>
      Actors: {{movie.Actors}}
    </p>
    <p>
        Country: {{movie.Country}}
    </p>
    <p>
        Director: {{movie.Director}}
    </p>
    <p>
        Runtime: {{movie.Runtime}}
    </p>
  </div>

</div>
</div>